/*  NOTE: This version is out of date! Please see Blackjack v.3 at:
    https://codepen.io/Clowerweb/pen/FDcxe  */

#wrapper {
    margin: 0 auto;
    width: 1000px;
}

h3 {
    margin: 5px 0;
    text-align: center;
}

#game {
    background: transparent url('https://i.imgur.com/iZrhFim.png') 0 0 no-repeat;
    border-radius: 5px;
    color: #333;
    font: 14px/17px Helvetica, Arial, Verdana, sans-serif;
    height: 550px;
    margin: 0 auto;
    position: relative;
    width: 1000px;
}

div#dscore {
    position: absolute;
    bottom: 30px;
}

div#pscore {
    position: absolute;
    bottom: 15px;
}

div#phand, div#dhand {
    font-weight: 700;
    left: 50%;
    position: absolute;
}

div#phand {
}

div#dhand {
}

div[class*="card"] {
    background: #FFF;
    border: 6px solid #FFF;
    border-radius: 5px;
    box-shadow: 0 0 1px #000;
    display: inline-block;
    height: 106px;
    margin: 0 5px;
    position: relative;
    width: 79px;
}

.down {
    background: #B20000 url('https://i.imgur.com/Z2KLUOw.png') center center no-repeat !important;
}

span.pos-1 {
    bottom: 0;
    position: absolute;
    right: 0;
}

span.rank {
    font-size: 18px;
}

span.suit {
    font-size: 22px;
}

.black {
    color: #000;
}

.red {
    color: #F00;
}

#result {
    position: absolute;
    bottom: 0;
}

#actions {
    margin-top: 15px;
}

#bank {
    height: 15px;
    margin-top: 15px;
    text-align: center;
}

#alert {
    height: 15px;
    margin-top: 15px;
    text-align: center;
}