@{
    Layout = "_Layout";
}
@model GamblingProject.ViewModels.AssetViewModel
<div class="header">
    <h2 style="font-size: 200%">ASSETS</h2>
</div>

<div class="row">
    <div class="columnA">
        <h2>42 BET</h2>
        <ul class="page-list">
            <li>
                <a class="page-list-item" href="/Home/Index">
                    <h2>Home</h2>
                </a>
            </li>
            <li>
                <a class="page-list-item" href="/Home/Assets">
                    <h2>Assets</h2>
                </a>
            </li>
            <li>
                <a class="page-list-item" href="/Home/Exchange">
                    <h2>Exchange</h2>
                </a>
            </li>
        </ul>
    </div>
    <div class="columnB">
        <div class="asset-box">
            <h3>42 COIN</h3>
            <h1 style="text-align: center">$@Model.My42Asset</h1>
        </div>
        <div class="asset-box">
            <h3>ETH</h3>
            <h1 style="text-align: center">$@Model.MyEthAsset</h1>
        </div>
        <footer class="footer">
            <div style="margin: auto">
                <h4>Cryptocoin</h4>
                <h5>Bitcoin (BTC)</h5>
                <h5>Ethereum (ETH)</h5>
            </div>
            <div style="margin: auto">
                <h4>Updated</h4>
                <h5>1 minute ago</h5>
                <h5>1 minute ago</h5>
            </div>
            <div style="margin: auto">
                <h4>Price</h4>
                <h5 style="color: green">USD $@Model.BtcPrice</h5>
                <h5 style="color: green">USD $@Model.EthPrice</h5>
            </div>
        </footer>
    </div>

    <div class="columnC">
        <h2>My Profile</h2>
        <img
            style="height: 50px; width: 50px; display: block; margin: auto"
            src="~/images/metamask.svg"/>
        <h3 class="text-bold">Wallet address:</h3>
        <h4 style="text-align: center;word-wrap: break-word;">0xDjdjsljdalkjgadglkjdafşalkdgşalakşlgdkaşlgagda</h4>
    </div>
</div>