@{
    Layout = "_Layout";
}
<div class="header">
    <h2 style="font-size: 200%">EXCHANGE</h2>
</div>

<div class="row">
    <div class="columnA">
        <h2>42 BET</h2>
        <ul class="page-list">
            <li>
                <a class="page-list-item" href="/Home/Index">
                    <h2>Home</h2>
                </a>
            </li>
            <li>
                <a class="page-list-item" href="/Home/Assets">
                    <h2>Assets</h2>
                </a>
            </li>
            <li>
                <a class="page-list-item" href="/Home/Exchange">
                    <h2>Exchange</h2>
                </a>
            </li>
        </ul>
    </div>
    <div class="columnB">
        <form asp-action="ConvertEthTo42xToken" method="post">
            <div class="exchange-box">
                <div class="exchange-box-item">
                    <h2 style="margin-top: 10px">You Have 0.2 ETH</h2>
                </div>
                <button type="submit"><img style="width: 30px; height: 30px; margin: 10px;" src="~/images/exhange.png"/></button>
                <div class="exchange-box-item">
                    <h2 style="margin-top: 0px">You Get 3.9614031 XBetToken</h2>
                </div>
            </div>
        </form>

    </div>
    <div class="columnC">
        <h2>My Profile</h2>
        <img
            style="height: 50px; width: 50px; display: block; margin: auto"
            src="~/images/metamask.svg"/>
        <h3 class="text-bold">Wallet address:</h3>
        <h4 style="text-align: center;word-wrap: break-word;">0xDjdjsljdalkjgadglkjdafşalkdgşalakşlgdkaşlgagda</h4>
    </div>
</div>