@{
    Layout = "_Layout";
}
@model GamblingProject.ViewModels.ExchangeViewModel
<div class="header">
    <h2 style="font-size: 200%">EXCHANGE</h2>
</div>

<div class="row">
    <div class="columnA">
        <h2>42 BET</h2>
        <ul class="page-list">
            <li>
                <a class="page-list-item" href="/Home/Index">
                    <h2>Home</h2>
                </a>
            </li>
            <li>
                <a class="page-list-item" href="/Home/Assets">
                    <h2>Assets</h2>
                </a>
            </li>
            <li>
                <a class="page-list-item" href="/Home/Exchange">
                    <h2>Exchange</h2>
                </a>
            </li>
        </ul>
    </div>
    <div class="columnB">
        <form asp-action="AddReferenceCode" method="post">
            <div class="input-group m-3 w-75">
                <input type="text" class="form-control" name="code" placeholder="REFERENCE CODE">
                <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Get Asset</button>
            </div>
        </form>
        <form asp-action="ConvertEthTo42xToken" method="post">
            <div class="exchange-box">
                <div class="exchange-box-item">
                    <h2 style="margin-top: 10px">You Have @Model.EthAmount ETH</h2>
                </div>
                <button type="submit"><img style="width: 30px; height: 30px; margin: 10px;" src="~/images/exhange.png"/></button>
                <div class="exchange-box-item">
                    <h2 style="margin-top: 0px" id="xbetToken"></h2>
                </div>
            </div>
        </form>
    </div>
    <div class="columnC">
        <h2>My Profile</h2>
        <img
            style="height: 50px; width: 50px; display: block; margin: auto"
            src="~/images/metamask.svg"/>
        <h3 class="text-bold">Wallet address:</h3>
        <h4 style="text-align: center;word-wrap: break-word;">@Model.WalletAddress</h4>
    </div>
</div>
<script>
    let element = document.getElementById("xbetToken");
    value = @Model.TotalValue;
    element.innerHTML = `You Get ${value} XBetToken`;
</script>