@{
    ViewData["Title"] = "Home Page";
}
@model GamblingProject.ViewModels.HomeIndexViewModel
<div class="header">
    <h2 style="font-size: 200%">HOME</h2>
</div>

<div class="row">
    <div class="columnA">
        <h2>42 BET</h2>
        <ul class="page-list">
            <li>
                <a class="page-list-item" href="/Home/Index">
                    <h2>Home</h2>
                </a>
            </li>
            <li>
                <a class="page-list-item" href="/Home/Assets">
                    <h2>Assets</h2>
                </a>
            </li>
            <li>
                <a class="page-list-item" href="/Home/Exchange">
                    <h2>Exchange</h2>
                </a>
            </li>
        </ul>
    </div>
    <div class="columnB">
        <div class="game-box">
            <a class="text-decoration-none" href="/Home/Blackjack">
                <h2>BlackJack</h2>
            </a>

        </div>
        <div class="game-box">
            <a class="text-decoration-none" href="/Home/Roulette">
                <h2>Roulette</h2>
            </a>
        </div>
        <h6>Copyright By Egemen Bahtiyar | Muhammet Furkan Atalay | Görkem Yelken | Talha Kumru</h6>
    </div>
    <div class="columnC">
        <h2>My Profile</h2>
        <img
            style="height: 50px; width: 50px; display: block; margin: auto"
            src="~/images/metamask.svg"/>
        <h3 class="text-bold">Wallet address:</h3>
        <h4 style="text-align: center;word-wrap: break-word;">@Model.WalletAddress</h4>
    </div>
</div>

<input type="hidden" name="WalletAddress" value="" id="walletAddress">
<script>
    var walletAddress = localStorage.getItem("userWalletAddress");
    // Do something with the value
    console.log(walletAddress+"aaaaaaaaaaaaa");
    document.getElementById("walletAddress").innerHTML = walletAddress;
</script>